In [2]:
import pandas as pd
import os

In [6]:
df = pd.read_csv(os.path.join('data', 'load1.csv'), header=None)

In [7]:
df

                  0
0      35552.000000
1      31949.240696
2      30184.126056
3      29482.978280
4      29072.119571
...             ...
17515  34352.168060
17516  34930.094678
17517  34967.960718
17518  34129.888414
17519  32080.000000

[17520 rows x 1 columns]