In [4]:
import numpy as np
import pandas as pd

In [5]:
def create_synthetic_data(d_steps, d_num_agents, d_t_gens):
    demand_df = pd.DataFrame(np.random.uniform(low=30, high=35, size=(d_steps, d_num_agents)))
    price_df = pd.DataFrame(np.random.uniform(low=12, high=15, size=(d_steps, d_num_agents)))
    supply_df = pd.DataFrame(np.random.uniform(low=66, high=70, size=(d_steps, d_num_agents)))
    gens = np.random.choice(demand_df.index, size = (d_t_gens,), replace=False)
    for gen in gens:
        demand_df.iloc[gen] = np.zeros((1,d_num_agents))
        price_df.iloc[gen] = np.zeros((1,d_num_agents))
        supply_df.iloc[gen] = np.zeros((1,d_num_agents))
    return demand_df, price_df, supply_df

In [7]:
demand, price, supply = create_synthetic_data(10,15, 4)

In [8]:
demand

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,34.677523,31.616981,30.237109,30.589895,34.416672,31.254544,30.676581,33.602255,31.683010,30.656947,32.153473,30.783707,30.948328,30.976303,33.675730
2,33.278694,30.790261,32.032948,30.653339,34.083393,30.678627,34.153713,32.785826,30.123257,32.061914,33.381069,33.384969,30.286432,30.125143,34.778071
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,33.285873,32.546824,31.087940,32.331194,32.514831,31.973219,34.222223,33.891706,30.386474,30.539145,32.298361,31.893153,32.090797,34.724725,32.341318
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,34.046354,34.256578,31.402640,34.890292,34.853989,33.760356,31.441516,34.772454,30.743341,31.015271,31.121062,31.187442,31.276242,34.338498,30.163686
7,30.529718,34.425936,34.301724,34.919913,32.593714,33.318462,33.907222,31.909521,34.308863,34.814559,30.770725,32.878020,33.775179,32.501890,32.998622
8,33.218221,34.376240,30.014545,33.477903,32.989493,31.657601,34.497382,33.455782,31.729946,30.393818,32.753650,30.592596,33.138899,31.927602,31.054054
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [9]:
price

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,14.613376,13.962120,13.955597,14.504870,14.710262,13.443297,14.846133,13.513349,14.588897,13.868510,13.049916,13.277185,12.061251,13.176477,13.138164
2,14.906759,13.119379,13.760604,13.711874,12.392597,12.136668,13.948681,13.420423,14.224819,12.618823,14.976677,13.291026,13.838009,14.437463,14.655420
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,14.066475,13.172789,14.735889,12.426924,13.907024,13.067372,12.628978,14.684550,14.336955,14.836919,12.661067,14.590689,12.402098,14.282260,12.985693
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,13.189338,13.995905,12.351013,13.136682,13.002757,14.247372,12.639952,12.007032,13.722119,14.490934,13.716000,12.802946,14.464203,14.149944,12.987829
7,13.585202,13.788857,12.328183,13.434718,12.359985,12.389381,12.507848,13.359152,12.519812,12.328149,13.807498,14.163216,12.641387,14.845161,14.797155
8,13.876695,12.176585,13.487379,14.420056,13.647886,14.049455,13.733565,13.499347,13.749285,12.703654,13.506549,13.754972,12.338640,13.296528,12.179014
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [10]:
supply

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,67.647161,69.688075,67.825870,68.480578,66.614668,69.460948,66.386731,66.105910,69.853999,69.134310,68.417227,68.832282,68.481958,66.340291,69.754631
2,69.907517,68.423389,67.409981,66.962070,67.390494,66.794819,68.993455,68.461748,66.976825,68.844631,66.307423,69.184822,66.216313,69.900129,69.830402
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,68.264383,68.273163,66.421330,69.471841,69.611757,68.871630,68.369797,67.728201,66.726931,67.781424,67.809847,66.363359,68.184837,68.243091,66.475652
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,68.700265,66.845599,66.124968,66.783766,67.200777,67.621254,68.338296,68.125085,66.348461,68.100055,66.292161,68.930482,68.764920,69.489150,67.880656
7,69.231994,69.686412,68.937237,67.028898,67.415413,69.881632,67.597229,66.031266,69.189617,69.588106,66.824716,66.393018,67.573635,66.618062,67.015901
8,67.129550,68.903954,66.746814,66.801188,68.515163,69.197742,69.896993,66.118345,69.247515,66.164287,67.484040,67.724779,66.349792,68.521557,69.825549
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000